
.fonctionnement {
    height: 395px;

.fonctionnement__titre{
    padding-top: 30px;
    margin-left: 20px;
}

.btn-fonctionnement {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 270px;
}

}