.fonctionnement {
    height: 445px;

.fonctionnement__titre{
    padding-top: 30px;
    margin-left: 20px;
}

.btn-fonctionnement {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 270px;
}

}