@keyframes pageblanche {
    0% {
         background-color:white;
        opacity: 1;
    }
    
    66% {
        background-color: white;
        opacity: 1;
    }
    
    100%{ 
        background-color:transparent; 
        opacity: 0;
        visibility: hidden;  
    }
}

.page__loader {
    animation: pageblanche 3s ease-in-out;
    animation-fill-mode: forwards;
    position: absolute;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    align-items: center;
    position: fixed;
    z-index: 1;
    background-color: #fff;
}   
   
.loader {
    animation-name: spin;
    animation-duration: 3.5s;
    animation-fill-mode: forwards;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 70px;
    height: 60px;
    border-top: 5px solid #9356dc;
    border-bottom: 5px solid #ff47cb;
    border-radius: 50%;
    margin: 0px 0px 0px -33px;
    z-index: 2; 
}  
  .loader-deux {
  animation-name: spin;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 70px;
  height: 60px;
  border-top: 5px solid #ff47cb;
  border-bottom: 5px solid #9356dc;
  border-radius: 45%;
  margin: 0px 0px 0px -33px;
  z-index: 2;
} 

@keyframes spin {
    0%   {
         transform: rotate(180deg);
         opacity: 1;              
    }

  66%   {
        
        opacity: 0.5;              
    }

    100% { 
        transform: rotate(2500deg);
        opacity: 0;   
    }
}

.patienter { 
    display: flex;
    justify-content: center;
   padding-top: 5px;
    width: 150px;
    height: 20px;
    margin-bottom: 70px;
    border-radius: 23px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background: linear-gradient(to bottom, #ff79da, #9356dc);
    }
 
