/* SECTION RESTAURANTS*/
.restaurants {
    background-color: #f6f6f6;
    height: 1225px;

.restaurants__titre {
    padding-top: 50px;
    padding-left: 20px;
    letter-spacing: -0.5px;
}

.container-restaurants {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 1060px;
}

.container-restaurant__lapalettedugout, .container-restaurant__lanoteenchantee, .container-restaurant__alafrancaise, .container-restaurant__ledelicedessens {
    height: 250px;
}

.container-restaurant__lapalettedugout:hover, .container-restaurant__lanoteenchantee:hover, .container-restaurant__alafrancaise:hover, .container-restaurant__ledelicedessens:hover {
    transform: scale(1.01);
    box-shadow: 0px 5px 10px rgb(27 27 27 / 20%);
    border-radius: 10px;
}

#restaurant-un , #restaurant-deux, #restaurant-trois, #restaurant-quatre {
    width: 335px;
    height: 250px;
    margin: 0px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgb(27 27 27 / 10%);
}

#restaurant-un img, #restaurant-deux img, #restaurant-trois img, #restaurant-quatre img {
    width: 100%;
    height: 175px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/*affichette nouveau*/
@mixin affichette-nouveau {
    width: 80px;
    height: 22px;
    color: #008766;
    background-color: #99e2d0;
    position: relative;
    left: 245px;
    bottom: 237px;
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    padding-top: 7px;  
}

.encart-nouveau {
 @include affichette-nouveau;
}

.lienphotorestaurant {
    text-decoration: none;
    color: black;
}

.container-texte-logo {
    display: flex;
    justify-content: space-between;
    height: 70px;
}

.cartetitreetsoustitre {
    display: flex;
    flex-direction: column;
}

.titrelapalettedugout, .titrelanoteenchantee, .titrealafrancaise, .titreledelicedessens {
    margin-bottom: 0px;
    margin-left: 11px;
    margin-top: 12px;
    font-size: 1.10em;
    letter-spacing: -0.5px;
}

.soustitremenilmontant, .soustitrecharonne, .soustitreciterouge, .soustitrefoliemericourt {
    margin:5px 0px 0px 12px;
}


.contenair_logo {    
    margin: 20px;
    height: 20px;
    height: 23px;
    font-size: 23px;
    color: #848484;
    display: flex;
    background-clip: text;  
}

.logo-coeur-vide {
    position: relative;
    left: 23px;
}

.logo-coeur-plein {
    position: relative;
    color: transparent;
}

@keyframes anim-coeur {
    0% {
        color: (transparent);      
    }
    20% {
        color: (#ffd6f4);      
    } 
    40% {
        color: (#ffb4ea);      
    }
    70% {
        color: ($color-secondary);      
    }   
    100% {
        color: ($color-primary);     
    }
}

.logo-coeur-plein:hover {
   animation-name: anim-coeur;
   animation-duration: 2s; 
   animation-fill-mode: forwards;
}

}





