@media only screen and (min-width: 600px) {
 
  .fonctionnement .fonctionnement__titre {
    text-align: center;
    }
    
      .restaurants .restaurants__titre {
    padding-left: 0px;
    text-align: center;
    }

  .restaurants {
    height: 660px;
}

  .restaurants .container-restaurants {
    height: auto;
}

.restaurants .container-restaurant__lapalettedugout, .restaurants .container-restaurant__lanoteenchantee, .restaurants .container-restaurant__alafrancaise, .restaurants .container-restaurant__ledelicedessens {
  width: 100%;
}

.contenair-double-menu-un {
  display: flex;
  height: 260px; 
}

.contenair-double-menu-deux {
  display: flex;
  height: 260px;
}

  .footer-container .footer-container__menu {
    flex-direction: row;  
    justify-content: space-between;
    padding-top: 25px;
  }
}

@media only screen and (min-width: 1075px) {

  .fonctionnement .fonctionnement__titre {
text-align: center;
}

  .restaurants .restaurants__titre {
text-align: center;
}

.contenair_menu {
  padding: 15px 120px 50px 120px;
}

  .restaurants {
      height: 500px;
  }
  
      .restaurants .contenair-double-menu-un {
          width: 50%;
      }
  
      .restaurants .contenair-double-menu-deux {
          width: 50%;
      }  
  }

