@media only screen and (max-width: 335px) {

    .contenair_menu .titre-soustitre {
       width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

.contenair_menu .intitule {
    width: 250px;
}

.contenair_menu strong {
    margin-left: 5px;
}
}


@media only screen and (min-width: 600px){
    .contenair_menu .container-texte-logo {
        justify-content: center;
    }


    .contenair_menu .titre-soustitre {
        width: 85%;
    }

    .contenair_menu .sous-titre__menu {
        text-align: center;
        margin-left: 10px;
        margin-top: 20px;
        font-size: 15px;
        font-weight: normal;
        color: #1f1f1f;
        border-bottom: solid;
        height: 23px;
        width: 98%;
        border-color: #99e2d0;
    }

    .block-description-menu:hover {
      
        .intitule {
            width: 230px;
            text-overflow:ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
           .validation-menu {
            transform-origin: right;
            animation-name: anim-check;          
            animation-duration: 600ms;
            opacity: 1;
            }
    
           .logo-check {
            color: $color-tertiary;
            background-color: white;
            font-size: 12px;
            padding: 3px 4px 3px 4px;
            border-radius: 50%;
            transform: rotate(360deg);
            transition: transform 500ms cubic-bezier(.10,.39,.59,.99);
            }
    }

    .footer-container .footer-container__titre {
        text-align: center;
    }
}

