/*LOGO OH MY FOOD ET FLECHE DE RETOUR*/

.imagedefond {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.retouraccueil {
    font-size: 20px;
    position: absolute;
    left: 30px;
    bottom: 14px;
}

.fa-arrow-left {
    color: black;
}

/*CARTE MENU LA PALETTE DU GOUT*/

.contenair_menu {
    background-color: #f6f6f6;
    height: auto;
    position: relative;
    margin-top: -55px;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    padding: 15px 10px 50px 10px;
    
/*titre du menu*/

@mixin titre-menu {
    font-family: "Shrikhand";
    font-size: 27px;
    font-weight: normal;
    margin-top: 20px;
    margin-left: 10px; 
}
    .titre__menu {
     @include titre-menu
    }

    .container-texte-logo {
        display: flex;
        justify-content: space-between;
        

        .contenair_logo {    
            margin: 20px;
            margin-top: 27px;
            margin-right: 27px;
            height: 23px;
            font-size: 23px;
            color: #848484;
            display: flex;
            background-clip: text;  
        }
        
        .logo-coeur-vide {
            position: relative;
            left: 23px;
        }
        
        .logo-coeur-plein {
            position: relative;
            color: transparent;
        }
        
        @keyframes anim-coeur {
            0% {
                color: (transparent);      
            }
            20% {
                color: (#ffd6f4);      
            } 
            40% {
                color: (#ffb4ea);      
            }
            70% {
                color: ($color-secondary);      
            }   
            100% {
                color: ($color-primary);     
            }
        }
        
        .logo-coeur-plein:hover {
           animation-name: anim-coeur;
           animation-duration: 2s; 
           animation-fill-mode: forwards;
        }
        
 }

 @keyframes apparition {
    0% { opacity:0 ;} 
    100%{opacity:1 ;}
    }

 /*contenair des menus*/
 .contenair-article {  
     margin-bottom: 30px;  
    animation: apparition ease-in-out 1s;
     
 }

 .contenair-article-plats {
     margin-bottom: 45px;
     animation: apparition ease-in-out 3.5s;
 }

 .contenair-article-plats-dessert {
    animation: apparition ease-in-out 7s; 
 }



/*sous titre du menu*/
@mixin sous-titre-menu {
    margin-left: 10px;
    margin-top: 20px;
    font-size: 15px;
    font-weight: normal;
    color: #1f1f1f;
    border-bottom: solid;
    height: 23px;
    width: 40px;
    border-color: $color-tertiary;  
}
.sous-titre__menu {
    @include sous-titre-menu 
}

h3 {
   width: 100%;
   margin: 0px;
   margin-top: 10px;
   margin-left: 10px;
   font-size: 1.01em;
   letter-spacing: -0.5px;
   padding-bottom: 3px;
}

.intitule {
    width: 290px;
    font-size: 15px;
    margin-left: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
strong {
    height: 15px;
    margin-top: 39px;
    margin-right: 15px;
    align-content: center;
    display: flex;
    color: #464646;
    font-size: 15px;
}

/*ARTICLE BLOCK DESCRIPTION MENU*/
.block-description-menu {
    display: flex;
    justify-content: space-between;   
    height: 70px;
    background-color: white;
    margin-bottom: 13px;
    border-radius: 15px;
    box-shadow: 0px 5px 10px rgb(27 27 27 / 10%);
    cursor: pointer;  
}

.titre-soustitre {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 50px;
    width: 85%;
}


/*ANIMATION DIV VALIDATION MENU*/
@keyframes anim-check {
    0% {
        transform: scalex(0);      
    }    

    100% {
        transform: scalex(1);     
    }
}


.block-description-menu:active { 
    transform: scale(1.02);

    .intitule {
        width: 230px;
        text-overflow:ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
       .validation-menu {
        transform-origin: right;
        animation-name: anim-check;          
        animation-duration: 700ms;
        opacity: 1;
        }

       .logo-check {
        transform: rotate(360deg);
        transition: transform 500ms cubic-bezier(.10,.39,.59,.99);
        }
        
}

/*DIV VALIDATION MENU*/
.validation-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 70px;
    background-color: $color-tertiary;
    cursor: pointer;
    opacity: 0;   

.logo-check {
    color: $color-tertiary;
    background-color: white;
    font-size: 12px;
    padding: 3px 4px 3px 4px;
    border-radius: 50%;
    }
}
 
/*BOUTON COMMANDER*/
.bouton-explorer button {
    width: 185px;
}

}

.contenair_menu-deux {
    height: 1190px;
}



