/*LOGO OH MY FOOD ET FLECHE DE RETOUR*/

.imagedefond {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.retouraccueil {
    font-size: 20px;
    position: relative;
    left: -75px;
    bottom: 8px;
}

.fa-arrow-left {
    color: black;
}

/*CARTE MENU LA PALETTE DU GOUT*/

.contenair_menu {
    background-color: #f6f6f6;
    height: 1090px;
    position: relative;
    margin-top: -55px;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    padding: 15px 10px 50px 10px;
    
/*titre du menu*/

@mixin titre-menu {
    font-family: "Shrikhand";
    font-size: 27px;
    font-weight: normal;
    margin-top: 20px; 
}
    .titre__menu {
     @include titre-menu
    }

    .container-texte-logo {
        display: flex;
        justify-content: space-between;
        height: 70px;

    /*logo coeur vide*/
        .far.fa-heart::before {    
            margin: 20px;
            margin-top: 30px;
            font-size: 23px;
            color: #848484;
            display: flex;
            justify-content: center;            
        }
    /*logo coeur plein*/
        .fas.fa-heart {
        position: relative;
        left: 45px;
        top: 30px;
        margin-left: 4px;
        }
    
    /* animation logo coeur plein*/
    @keyframes animcoeur {
        0%  {background-color: transparent}
       25% {background-color: #ffe0f6 }
       50%  {background-color: $color-secondary}
      100%  {background-color: $color-primary }
   }
    
    .fas.fa-heart:hover {
        position: relative;
        left: 45px;
        top: 30px;
        font-size: 23px;
        height: 20px;
        animation-name: animcoeur;
        animation-duration: 2s;
        background-clip:text;
        color:transparent; 
        animation-fill-mode: forwards;
   }
 }

 /*contenair des menus*/
 .contenair-article {
     margin-bottom: 30px;
 }

 .contenair-article-plats {
     margin-bottom: 45px;
 }

/*sous titre du menu*/
@mixin sous-titre-menu {
    margin-left: 10px;
    margin-top: 20px;
    font-size: 15px;
    font-weight: normal;
    color: #1f1f1f;
    border-bottom: solid;
    height: 23px;
    width: 40px;
    border-color: $color-tertiary;  
}
.sous-titre__menu {
    @include sous-titre-menu 
}

h3 {
   margin: 0px;
   margin-top: 10px;
   margin-left: 10px;
   font-size: 17px;
   letter-spacing: -0.5px;
   padding-top: 15px;
   padding-bottom: 3px;
}

.intitule-prix {
    width: 325px;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin-left: 10px;
}

p {
    margin:0px;
    margin-left: 10px;
    font-size: 15px;
    font-weight: lighter;
}

strong {
    color: #464646;
    font-size: 15px;
}

/*ARTICLE BLOCK DESCRIPTION MENU*/
.block-description-menu {   
    height: 70px;
    background-color: white;
    margin-bottom: 13px;
    border-radius: 15px;
    box-shadow: 0px 5px 10px rgb(27 27 27 / 10%);
    cursor: pointer;
}

/*ANIMATION DIV VALIDATION MENU*/
@keyframes anim-check{
    0% {
        transform: scalex(0);      
    }    

    100% {
        transform: scalex(1);     
    }
}

.block-description-menu:hover {
   
      .validation-menu { 
        transform-origin: right;
        animation-name: anim-check;
        animation-duration: 0.8s;
        opacity: 1;
     
       .logo-check {
           color: $color-tertiary;
           background-color: white;
           font-size: 12px;
           padding: 3px 4px 3px 4px;
           border-radius: 50%;
           transform: rotate(720deg);
           transition: transform 500ms cubic-bezier(.10,.39,.59,.99);
           }     
       }  
}

/*DIV VALIDATION MENU*/
.validation-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: none;
    bottom: 55px;
    width: 58px;
    height: 70px;
    left: 297px;
    background-color: $color-tertiary;
    cursor: pointer;
    opacity: 0;   
}

.validation-menu:hover {
 animation-name: anim-check;
 animation-duration: 0.8s;
 opacity: 1;


.logo-check {
    color: $color-tertiary;
    background-color: white;
    font-size: 12px;
    padding: 3px 4px 3px 4px;
    border-radius: 50%;
    }
}



 
/*BOUTON COMMANDER*/
.bouton-explorer button {
    width: 185px;
}

}

